*{
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0; left: 0; right: 0;
  background-color: rgb(250, 248, 248);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  height: 50px;
}

a, li {
  font-weight: bold;
  text-decoration: none;
  list-style: none;
}

header .navbar ul li {
  position: relative;
  float: left;
  margin: 1em;
}

.signup-container, .login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}